@media (min-width: 992px) {
    
    *{
        margin: 0px;
        padding:0px;

    }

	.box{
			width: 150px;
		}

	.b1 {
  			border-style: none;
  			background: #FFFFFF;
		}

	.all{
		background-color: #CECECE;
		height: 600px;
	}

	.title{
		 letter-spacing:10px;
         font-weight: bold;
         text-align:center;
         margin-top: 20px;
         color:#3189A9;
         font-size: 35px;
	}
	p{
		font-weight: bold;
        text-align:center;
        margin-top: 20px;
        color:#3189A9;
        font-size: 20px;

	}

	.box1{
		 width: 80%;
         height: auto;
         /*top: 51px;*/
         /*left: 0px;*/
         /*top: 55%;*/
         /*margin-top: ;*/
         /*margin-top: 230px;
           margin-left: 10%;*/
         /*margin-right: 40px;*/
         background-color: rgba(255,255,255,0.3);
         padding: 15px;
         color: #3C3B3B;
	}

	.up_btn{
		background-color:#3189A9;
        color:#FFFFFF;
        margin-left: 50px;
	}

	.myuser{
		margin-top: 100px;
	}	

	
























}    
